- name: Copy install_dependencies script
  copy:
    src: install_dependencies.sh
    dest: /tmp/install_dependencies.sh
    mode: '0755'

- name: Copy install_codedeploy script
  copy:
    src: install_codedeploy.sh
    dest: /tmp/install_codedeploy.sh
    mode: '0755'

- name: Copy partition_disks script
  copy:
    src: partition_disks.sh
    dest: /tmp/partition_disks.sh
    mode: '0755'

- name: Copy download_artifacts script
  copy:
    src: download_artifacts.sh
    dest: /tmp/download_artifacts.sh
    mode: '0755'

# ---- Execute Scripts ----

- name: Run install_dependencies
  command: /tmp/install_dependencies.sh

- name: Run install_codedeploy
  command: /tmp/install_codedeploy.sh

- name: Run partition_disks
  command: /tmp/partition_disks.sh

- name: Run download_artifacts
  command: /tmp/download_artifacts.sh